.main {
    margin-left: 300px; /* offset for sidenav */
}

.personalinfo{
    color: black;
}

.headerbox{
    background-color: #088474;
    text-align: center;
    margin: 0;
    padding: 1px 0px 1px 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }