body, html {
  height: 100%;
  background-color:white
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/* Highlighting the active button */
.active {
  background-color: #757575;
}

/* Portfolio columns */
.column {
  float: left;
  margin: 1.665%;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Parallax Effect */
.parallax {
  /* The image used */
  background-image: url('images/SolarSystemPlaceholder.jpg');

  /* Set a specific height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}