body, html {
  background-color:white
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

/* Highlighting the active button */
.active {
  background-color: #757575;
}

/* Portfolio columns */
.column {
  float: left;
  margin: 1.665%;
  width: 30%;
}

/* Parallax Effect */
.parallax {
  /* The image used */
  background-image: url('images/SolarSystemPlaceholder.jpg');

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}